
body{
    font-family: 'EB Garamond', serif;
    margin: 0;
}
h1{
    font-size: 50px; 
}
 
section{
    height: 500px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
 .violet-higlight{
     color: rgb(118, 15, 187);
     } 
.top-banner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat; 
       
        .link-button{
            background-image: linear-gradient(45deg ,rgb(173, 113, 241),rgb(123, 23, 238));
            text-decoration: none;
            font-weight: bold;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
        }
        
        img{ width: 100%;} 
      
}


.dream-area{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    
    
        h1{
            font-size: 40px;
        }
        .name-higlight{
            color: rgb(118, 15, 187);
          
            } 
        .link-button{
            background-image: linear-gradient(45deg ,rgb(173, 113, 241),rgb(123, 23, 238));
            text-decoration: none;
            font-weight: bold;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
        }
        
        img{ width: 100%;  } 
        
}

.experiance-area{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
    h1{
        margin-top: 50px;
        font-size: 40px;
    }
    .single-experience{ 
        box-shadow: 10px 10px 40px gray;
        border-radius: 5px;
        background-color: white;
        height: 60%;
        padding: 15px;

    }
    #full-stack{
        border-left: 5px solid;
        border-image: linear-gradient(180deg,rgb(69, 3, 175),rgb(175, 100, 224));
        border-image-slice: 1;
    }
    #baby-stack{
        border-left: 5px solid;
        border-image: linear-gradient(180deg,rgb(230, 9, 174),rgb(230, 96, 201));
        border-image-slice: 1;
    }
}
.footer-area{
    text-align: center;
    font-size: 10px;
}



